<!-- <ul>
    <li><a routerLink="/home">Homepage Component</a></li>
    <li><a routerLink="/firstpage" [queryParams]="{page:2, pagesize:1}">Birinci Component</a></li>
    <li><a [routerLink]="['secondpage',2]">İkinci Component</a></li>
</ul>
<br>
Sayfalar -->

<router-outlet></router-outlet>
<!-- <app-example></app-example>
<app-example2></app-example2>
<app-datapass name={{firstName}}></app-datapass>
<app-two-way-binding></app-two-way-binding> -->

<!-- <app-ngfor></app-ngfor> -->
<!-- <app-pipe></app-pipe> -->

<!-- <app-template-driven></app-template-driven> -->

<!-- <app-first></app-first>
<app-second></app-second> -->



<h2>Anasayfa</h2>
<!-- <div>User Id: {{user?.userId}}</div>
<div>Id: {{user?.userId}}</div>
<div>Title: {{user?.title}}</div>
<div>Status Completed: {{user?.completed}}</div> -->

<div *ngFor="let item of post">
    <h3>User Id: {{item.userId}}</h3>
    <h3>Id: {{item.id}}</h3>
    <h3>Title: {{item.title}}</h3>
    <h3>Body: {{item.body}}</h3>
    <div style="border: 5px solid red"></div>
</div>

<app-first-page></app-first-page>