<h1>Pipe Componentii</h1>
<h3>Json Pipe</h3>
<p>{{person1}}</p>
<p>{{person1 | json}}</p>

<h3>UpperCase & LowerCase Pipe</h3>
<p>{{name | uppercase}}</p>
<p>{{name2 | lowercase}}</p>
<p>{{'angular framework' | titlecase}}</p>

<h3>Date Pipe</h3>
<p>{{date | date: 'dd/mm/yyyy'}}</p>
<p>{{date | date: 'longDate'}}</p>
<p>{{date | date: 'shortDate'}}</p>
<p>shortTime{{date | date: 'shortTime'}}</p>


<h3>Currency Pipe</h3>
<p>{{myprice | currency}}</p>
<p>{{myprice | currency: 'EUR'}}</p>
<p>{{myprice | currency: 'TRY'}}</p>


<h3>Decimal Pipe</h3>
<p>{{255.2546213865}}</p>
<p>{{255.2546213865 | number: '1.3-5'}}</p>


<h3>Slice Pipe</h3>
<p>Angular</p>
<p>{{'Angular' | slice: 0:2}}</p>

<h3>Percent Pipe</h3>
<p>0.52631</p>
<p>{{0.526315364 | percent : '1.0-2'}}</p>


<h3>Custon Pipe</h3>
<p>{{name}}</p>
<p>{{name | upper}}</p>

